/* You can add global styles to this file, and also import other style files */
/*Criando uma variavel da cor verde que pode ser acesado por 
qualquer css da aplicação*/

:root{
    --azul: #295564;
}

/*Zerando as propriedades*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar{
    background-color: var(--azul);
    color: white;
}